terraform/gcp/.terraform/
terraform/aws/.terraform/
terraform/aws/kubeconfig-ec2
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/admissionregistration.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/apiextensions.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/apiregistration.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/apps/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/authentication.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/authorization.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/autoscaling/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/autoscaling/v2/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/batch/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/certificates.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/coordination.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/discovery.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/events.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/flowcontrol.apiserver.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/gateway.networking.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/gateway.networking.k8s.io/v1beta1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/helm.cattle.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/hub.traefik.io/v1alpha1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/k3s.cattle.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/metrics.k8s.io/v1beta1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/networking.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/node.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/policy/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/rbac.authorization.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/scheduling.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/servergroups.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/storage.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/traefik.io/v1alpha1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/13.223.255.61_6443/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/admissionregistration.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/apiextensions.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/apiregistration.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/apps/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/authentication.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/authorization.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/autoscaling/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/autoscaling/v2/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/batch/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/certificates.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/coordination.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/discovery.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/events.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/flowcontrol.apiserver.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/networking.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/node.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/policy/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/rbac.authorization.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/scheduling.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/servergroups.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/storage.k8s.io/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/discovery/192.168.59.100_8443/v1/serverresources.json
terraform/gcp/.gitignore/.kube/cache/http/2797d14eb10d8a6727bff3e5c0f74039aa8be0f47324a100df3923bf025fde78
terraform/gcp/.gitignore/.kube/cache/http/798b7ea098dc544ae5525ca4bbdd43a01d85d512e11470a9d0ed57c96b3c6904
terraform/gcp/.gitignore/.kube/cache/http/940bd67584dc50c715f183a10867cee53c926a2d139faa331bc2ec149461cc00
terraform/gcp/.gitignore/.kube/cache/http/d12a7e3cacda4fb5b8a719a7e3058956c3a9ca9d4d75861befa693d35c491ac7
terraform/gcp/.gitignore/.kube/cache/http/d456773fcaf0e7cd5f8256caa3caa1b749a961578663229f5eafe41c0593b1d2
terraform/gcp/.gitignore/.kube/config
terraform/gcp/.gitignore/.ssh/google_compute_engine
terraform/gcp/.gitignore/.ssh/google_compute_engine.ppk
terraform/gcp/.gitignore/.ssh/google_compute_engine.pub
terraform/gcp/.gitignore/.ssh/known_hosts
terraform/gcp/.gitignore/.ssh/known_hosts.old
terraform/gcp/.gitignore/.terraform/environment
terraform/gcp/.gitignore/docs.txt
terraform/aws/.gitignore/.ssh/new-aws-key
terraform/aws/.gitignore/.ssh/new-aws-key.pub
terraform/aws/.gitignore/documentation for aws.docx
terraform/aws/.gitignore/surendra.pem
terraform/aws/.gitignore/surendra_accessKeys.csv



